* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: black;
    background-color:white;
   
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    
    
    
  }
  
  header .logo a{
    font-family: "Inria Serif", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
   .menu {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 30%; 
    background-color: white ;
    margin-left:-30%;
    transition: 0.5s ease-out;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
  
  }
  .menu-active {
    margin-left:0;
  }
   .menu .exit {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 25px;
  }
   .menu ul{
    list-style: none;
    
    margin-top: 80px;
    margin-left: 50px;
    
  }
  .menu ul li {
    font-weight: 500;
    display: flex;
    align-items: center;
    height:80px;
  }
  a.main-nav-item1::after,
a.main-nav-item2::after,
a.main-nav-item3::after,
a.main-nav-item4::after,
a.main-nav-item5::after,
a.main-nav-item6::after,
a.main-nav-item7::after
    {
    content:"";
    display: block;
    position:relative;
    width:100%;
    height:2px;
    background:#A0522D;
    transform: scale(0);
    transition:  transform 0.2s ease-in-out;
}
a.main-nav-item1:hover::after,
a.main-nav-item2:hover::after,
a.main-nav-item3:hover:after,
a.main-nav-item4:hover::after,
a.main-nav-item5:hover::after,
a.main-nav-item6:hover::after,
a.main-nav-item7:hover::after{
    transform: scale(1);
    
}
.main-nav-item:hover{
  color:#A0522D;
}
.page-active .filter {
  filter: blur(20px); 

}
body.no-scroll {
  overflow: hidden; 
}

main{
    padding-top: 10%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
  
  }
  
  .contact-container{
    margin: auto;
    width:400px;
    min-width: 250px;
    background-color: whitesmoke ;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5 rem;
    overflow: hidden;
    border-radius:10px;
  }
  
  .form-container{
    padding: 20px;
  }
  .form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  
  .contact-form { 
    display: grid;
    row-gap: 1rem;
  }
  
  .contact-form input, 
  .contact-form textarea{
    width: 100%;
    border: none;
    outline:none;
    background: rgba(214, 214, 214, 0.192);
    padding: 10px;
    font-size: 0.9rem;
    color: #000000;
    border-radius: 0.4rem;
  }
  
  
  .contact-form textarea{
    resize: none;
    height: 200px;
  }
  
  
  .contact-form .envoyer-btn{
    border: none;
    outline: none;
    background:black; 
    font-size:500 ;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
  }
  
  .contact-form .envoyer-btn:hover{
    background: white;
    color: black; 
  
  }
  footer {
    margin-top: 10%;
    padding: 50px 15% 40px;
   background:linear-gradient( rgb(0,0,0) , rgb(62,62,64));
  }
  .main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, auto));
    justify-content: center;
    gap: 2rem;
    padding:5%;
    border-radius: 10px;
  }
  .contact-contenent h4 {
    font-size: 20px;
    color:white;
    margin-bottom: 1.5rem;
  }
  .contact-contenent li {
    margin-bottom: 16px;
  }
  .contact-contenent li a {
    display: block;
    color:white;
    font-size: 15px;
    font-weight: 500;
    transition: all .40s ease;
    text-decoration: none;
  
  }
  .contact-contenent li a:hover {
  transform: translateX(10px);
  opacity: 0.5;
  }
  @media (max-width: 775px) {
     .contact-container {
      margin-top: 10%;
    }
    .menu {
     width: 50%;
     margin-left:-50%;
    }
    .menu-active {
     margin-left:0;
   }
   }
   
   @media (max-width: 450px) {
    .contact-container {
      margin-top: 15%;
      width:300px;
    }
      .menu {
       width: 100%;
       margin-left:-100%;
      }
      .menu-active {
       margin-left:0;
     } 
     header .logo a {
      font-size: 16px;
    }
   } 
