* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: black;
    background-color:white;
   
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    
    
  }
  
  header .logo a{
    font-family: "Inria Serif", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
   .menu {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 30%; 
    background-color: white;
    margin-left:-30%;
    transition: 0.5s ease-out;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
  
  }
  .menu-active {
    margin-left:0;
  }
   .menu .exit {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 25px;
  }
   .menu ul{
    list-style: none;
    
    margin-top: 80px;
    margin-left: 50px;
    
  }
  .menu ul li {
    font-weight: 500;
    display: flex;
    align-items: center;
    height:80px;
  }
  a.main-nav-item1::after,
a.main-nav-item2::after,
a.main-nav-item3::after,
a.main-nav-item4::after,
a.main-nav-item5::after,
a.main-nav-item6::after,
a.main-nav-item7::after
    {
    content:"";
    display: block;
    position:relative;
    width:100%;
    height:2px;
    background:#A0522D;
    transform: scale(0);
    transition:  transform 0.2s ease-in-out;
}
a.main-nav-item1:hover::after,
a.main-nav-item2:hover::after,
a.main-nav-item3:hover:after,
a.main-nav-item4:hover::after,
a.main-nav-item5:hover::after,
a.main-nav-item6:hover::after,
a.main-nav-item7:hover::after{
    transform: scale(1);
    
}
.main-nav-item:hover{
  color:#A0522D;
}
.page-active .filter {
  filter: blur(20px); 

}
body.no-scroll {
  overflow: hidden; 
}
main {
    padding-top: 10%;
     width: 80%;
    margin-left: 10%;
    text-align: center;
    color: rgb(0, 0, 0);

    }
    
    main h1 {
        margin-top: 5%;
    }
    
    .remove-from-favorites{
        width: 300px;
        height: 35px;
        padding-left:5px;
        border: 1px solid #ccc;
        border-radius: 0.4rem;
        background-color:black;
        color:white;
        margin-bottom: 3%;
    
    }
    #favorites img {
        border-radius: 5px;
        }
    #favorites {
        margin-top: 5%;
        margin-bottom: 3%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
        gap: 2rem;
        align-items: center;
        cursor: pointer;
        
    }  
    .backShop {
        width: 300px;
        height: 35px;
        padding:10px;
        font-size:13px;
        border: 1px solid transparent;
        border-radius: 0.4rem;
        background-color: whitesmoke;
        color:black;
    }
    footer {
        margin-top: 5%;
        padding: 50px 15% 40px;
       background:linear-gradient( rgb(0,0,0) , rgb(62,62,64));
      }
       .main-contact {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px, auto));
        justify-content: center;
        gap: 2rem;
        padding:5%;
        border-radius: 10px;
      }
      .contact-contenent h4 {
        font-size: 20px;
        color:white;
        margin-bottom: 1.5rem;
      }
      .contact-contenent li {
        margin-bottom: 16px;
      }
      .contact-contenent li a {
        display: block;
        color:white;
        font-size: 15px;
        font-weight: 500;
        transition: all .40s ease;
        text-decoration: none;
      
      }
      .contact-contenent li a:hover {
      transform: translateX(10px);
      opacity: 0.5;
      }
      @media (max-width: 775px) {
    
        .menu {
         width: 50%;
         margin-left:-50%;
        }
        .menu-active {
         margin-left:0;
       }
    }
      @media (max-width: 560px) {
            main h1 {
                margin-top: 13%;
            }
          .menu {
           width: 100%;
           margin-left:-100%;
          }
          .menu-active {
           margin-left:0;
         }
       } 
       @media (max-width: 450px) {
        header .logo a {
          font-size: 16px;
        }
    } 