
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: black;
    background-color:white;
   
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    
    
  }
  
  header .logo a{
    font-family: "Inria Serif", serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
   .menu {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 30%; 
    background-color: white;
    margin-left:-30%;
    transition: 0.5s ease-out;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
  
  }
  .menu-active {
    margin-left:0;
  }
   .menu .exit {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 25px;
  }
   .menu ul{
    list-style: none;
    
    margin-top: 80px;
    margin-left: 50px;
    
  }
  .menu ul li {
    font-weight: 500;
    display: flex;
    align-items: center;
    height:80px;
  }
  a.main-nav-item1::after,
a.main-nav-item2::after,
a.main-nav-item3::after,
a.main-nav-item4::after,
a.main-nav-item5::after,
a.main-nav-item6::after,
a.main-nav-item7::after
    {
    content:"";
    display: block;
    position:relative;
    width:100%;
    height:2px;
    background:#A0522D;
    transform: scale(0);
    transition:  transform 0.2s ease-in-out;
}
a.main-nav-item1:hover::after,
a.main-nav-item2:hover::after,
a.main-nav-item3:hover:after,
a.main-nav-item4:hover::after,
a.main-nav-item5:hover::after,
a.main-nav-item6:hover::after,
a.main-nav-item7:hover::after{
    transform: scale(1);
    
}
.main-nav-item:hover{
  color:#A0522D;
}
.page-active .filter {
  filter: blur(20px); 

}
body.no-scroll {
  overflow: hidden; 
}
  
    .hero .affiche {
    padding-top: 3%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    
  }  
  .hero .hero-content {
    margin-left: 10%;
  }
  .hero .hero-content h1 {
    font-family: "Inria Serif", serif;
    font-size: 55px;
    font-style: normal;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .hero .hero-content p{
    font-family: "Instrument Serif", serif;
    color:gray;
  }
  .hero .hero-content h2 {
    font-family: "Island Moments", serif;
    font-size: 40px;
    color: #A0522D;
    text-shadow: 1px 1px 3px rgba(160, 82, 45, 0.5);
  }
  .hero .hero-image {
    margin-right: 10%;
    width: 350px;
    height: 550px;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.8));
  
  }
  .hero .hero-content  input {
    margin-top: 5%;
    padding: 10px;
    height: 40px;
    width: 150px;
    border: none;
    margin-right: 10px;
    transition:1s ease-out;
  }
  .hero .hero-content .achat input {
    color:white;
    background-color: black;
  }
  .hero .Collection h2 {
    text-align: center;
  }
  .slider-1 {
    max-width:100%;
   overflow: hidden;
  }
  .slider-1 .slider {
    display: flex;
    animation:slider-1 12s infinite ease-in-out;
  }
  .slider div{
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

  }
  .slider div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  .slider div .overlay h2 {
     margin-top:20%;
    font-family: "Inria Serif", serif;
    font-size: 50px;
    font-style: normal;
    margin-bottom: 2%;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .slider div .overlay input {
    padding: 10px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: white;
    border: 2px solid white;
    transition:1s ease-out;
  }
  .slider div .overlay input:hover {
    background-color: white;
    color: black;
    
  }
  @keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
   
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
    
  }

  footer {
    padding: 50px 15% 40px;
   background:linear-gradient( rgb(0,0,0) , rgb(62,62,64));
  }
  .main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, auto));
    justify-content: center;
    gap: 2rem;
    padding:5%;
    border-radius: 10px;
  }
  .contact-contenent h4 {
    font-size: 20px;
    color:white;
    margin-bottom: 1.5rem;
  }
  .contact-contenent li {
    margin-bottom: 16px;
  }
  .contact-contenent li a {
    display: block;
    color:white;
    font-size: 15px;
    font-weight: 500;
    transition: all .40s ease;
    text-decoration: none;
  
  }
  .contact-contenent li a:hover {
  transform: translateX(10px);
  opacity: 0.5;
  }

  


 @media (max-width: 900px) {
.slider div .overlay h2 {
    font-size: 40px;
  }
      .slider div .overlay input {
    width: 180px;
    height: 45px;
  }
  .hero .hero-content h1 {
    font-size: 45px;
  
  }
  .hero .hero-content h2 {
    font-size: 30px;
  }
}

@media (max-width: 775px) {
 slider div .overlay h2 {
    font-size: 35px;
  }
    .slider div .overlay input {
    width: 160px;
    height: 40px;
  }
  .hero .hero-image {
    display: none;
  }
  .hero .hero-content {
    margin-left: 0;
  }
 .hero .affiche {
  padding: 13%;
 }
 .menu {
  width: 50%;
  margin-left:-50%;
 }
 .menu-active {
  margin-left:0;
}
}

@media (max-width: 560px) {
 .slider div .overlay h2 {
    font-size: 30px;
  }
  .slider div .overlay input {
    width: 140px;
    height: 35px;
  }
  .hero .affiche {
    padding: 20%;
   }
   .menu {
    width: 100%;
    margin-left:-100%;
   }
   .menu-active {
    margin-left:0;
  }
} 
@media (max-width: 400px) {
  header .logo a {
    font-size: 16px;
  }
 } 